<!DOCTYPE html>
<html>
  <head>
    <title>JK Garage home</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="static/css/mycustom.css">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
   
    <header>
        <!-- <h1 class="logo">JK Garage</h1> -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="brandname" href="#">JK Garage</a>
            </div>

           <ul class="nav navbar-nav">
            <li><a href="{{ url_for('processtext') }}">Paragraph analysis</a></li>
            <li><a href="{{ url_for('hskaid') }}">HSK aid</a></li>
            <li><a href="{{ url_for('contactme') }}">Contact me</a></li>
            <li><a href="{{ url_for('upload') }}">Upload photo</a></li>
            <li><a href="{{ url_for('platecheck') }}">Check Car Plate</a></li>
           </ul>
          </div>
        </nav>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>
